<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WHAT'S IN$IDE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
  <div id="main">
      <img id="app_logo" src="{{ url_for('static', filename='wi_logo.svg') }}" alt="app_logo">
      <img id="login_logo" src="{{ url_for('static', filename = 'wi_login_banner.svg') }}" alt="login_banner">
      <div id="login_container">
        <h3>Login</h3>
        <form action="/login" method="POST">
            <p>Email: <input type="text" name="email"></p>
            <p>Password: <input type="password" name="password"></p>
            <p><input type="submit" value="Login"></p>
        </form>
      </div><!-- /#login_container  -->
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <p>{{message}}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div id="reg_container">
        <h3>Registration</h3>
        <form action="/register" method="POST">
            <p>First Name: <input type="text" name="first_name"></p>
            <p>Last Name: <input type="text" name="last_name"></p>
            <p>Email: <input type="text" name="email"></p>
            <p>Password: <input type="password" name="password"></p>
            <p>Confirm Password: <input type="password" name="confirm"></p>
            <p><input type="submit" value="Register"></p>
        </form>
      </div><!-- /#reg_container  -->
      <img id="tiny_logo" src="{{ url_for('static', filename='wi_logo.svg') }}" alt="app_logo">
      <h5>Copyright 2016 Batmen INC</h5>
    </div><!-- /#main  -->
</body>
</html>
