<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WHAT'S IN$IDE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='wall.css') }}">
</head>

<body>
    <header>
        <div id="header_container">
            <img src="{{ url_for('static', filename='wi_logo.svg') }}" alt="What's in$ide" id="header_logo">
            <img src="{{ url_for('static', filename='wall_logo.svg') }}" alt="What's in$ide" id="header_logo">
            <div id="header_right">
                <h2>Hello, {{ user_first["first_name"] }}</h2>
                <a href="/logoff"><button>Log Off</button></a>
            </div><!-- /#header_right  -->
        </div><!-- /#header_container  -->
    </header>
    <div id="wrapper">
        <div class="post_message">
            <h3>Post a Message</h3>
            <form action="/message" method="POST">
                <textarea name="new_message" class="message_field"></textarea>
                <input type="submit" value="Post Message" class="message_submit">
            </form>
        </div><!--  /.post_message -->
        {% for message in messagedata %}
            <div class="post_group">
                <div class="message">
                    <h3>{{ message['first_name']}} {{ message['last_name'] }}</h3>
                    <h5>{{"{: %I:%M %p %b %d, %Y}".format(message['created_at']).replace(" 0", " ")}}</h5>
                    <p class="message_content">{{ message['message'] }}</p>

                    {% if message['users_id'] == session['user_id'] %}
                        <a href="/delete/{{message['id']}}" class="delete_message"><button class="delete_button">Delete Message</button></a>
                    {% endif %}
                </div><!--  /.message -->
                {% for comment in commentdata %}
                    {% if comment['messages_id'] == message['id'] %}
                    <div class="comment">
                        <h3>{{ comment['first_name'] }} {{ comment['last_name'] }}</h3>
                        <h5>{{"{: %I:%M %p %b %d, %Y}".format(comment['created_at']).replace(" 0", " ")}}</h5>
                        <p class="comment_content">{{ comment['comment'] }}</p>
                    </div><!--  /.comment -->
                    {% endif %}          
                {% endfor %}

                <form action="/comment/{{ message['id'] }}" method="POST" class="post_comment">
                    <input type="text" name="new_comment">
                    <input type="submit" value="Post Comment" class="comment_submit">
                </form>
            
            </div><!--  /.post_group -->
        {% endfor %}

        {% if not messagedata %}
            <p class="nothing">There's nothing here yet...</p>
        {% endif %}
    </div><!-- /#wrapper  -->
</body>

</html>
